<html>
	<head>
		<style type="text/css">
			body {
			 background: black;
			 color: white;
			}

			div.container {
			 max-width: 500px;
			 margin: 100px auto;
			 border: 20px solid white;
			 padding: 10px;
			 text-align: center;
			}

			h4{
			 text-transform: uppercase;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<h4>Dose of cats for you ^_^</h4>
			<img src = "{{url}}" />
			<p>
				<small>Source:
					<a href = "https://tenor.com/"> link </a>
				</small>
			</p>
		</div>
	</body>
</html>
